@font-face {
    font-family: "Roboto-Regular";
    /* font-weight: 400;
    font-style: normal; */
    src: url("./robotoFont/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("./robotoFont/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("./robotoFont/Roboto-Bold.ttf") format("truetype");
}
